
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


:root {
  --font-family: 'Manrope', sans-serif;
  --font-family-big: 'Merriweather', sans-serif;
  --font-family-small: 'Inter', sans-serif;

  
  --color-bg: #040C18;

  --color-background: #11342E;
  --color-background-light: #38635c;
  --color-icon: #ECE5CB;
}


.gradient__bg {
    /* background:-moz-radial-gradient(circle at 45% 50%, rgb(0, 83, 48) 0%, rgba(4, 12, 24, 1) 150%);
  
    background:-webkit-radial-gradient(circle at 45% 50%, rgb(0, 83, 48) 0%, rgba(4, 12, 24, 1) 150%);
  
    background:-o-radial-gradient(circle at 45% 50%, rgb(0, 83, 48) 0%, rgba(4, 12, 24, 1) 150%);
  
    background:-ms-radial-gradient(circle at 45% 50%, rgb(0, 83, 48) 0%, rgba(4, 12, 24, 1) 150%);
  
    background:radial-gradient(circle at 45% 50%, rgb(0, 83, 48) 0%, rgba(4, 12, 24, 1) 150%); */

    background-color: var(--color-background);
  }