
.footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem; 
}

.footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}
