
<div class="h-screen bg-primary-50 flex flex-col w-28 border-r border-[#255232] text-white vertical-container-navbar fixed top-0">
        <div class="mt-2">
                <a routerLink="/">
                <span><img class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-150" src="../assets/logo.png" alt="logo.png"></span>
                </a>
        </div>
        <div class="flex-1 flex flex-col space-y-12 mt-10 ">
                <a  routerLink="/">
        <span class="px-11 top-span  " >
                
                        <i class="fa-solid fa-house fa-lg "></i>
                
        </span>
</a>
<a routerLink="/profile">
        <span class="px-11 top-span">
                
                        <i class="fa-solid fa-user fa-lg"></i>
                
        </span>
</a>
<a routerLink="/virtualforest">
        <span class="px-11 top-span">
                
                        <i class="fa-solid fa-tree fa-lg "></i>
                
        </span>
</a>
<a routerLink="/blog">
        <span class="px-11 top-span">
                
                        <i class="fa-solid fa-message fa-lg "></i>
                
        </span>
</a>
<a routerLink="/todolist">
        <span class="px-11 top-span">
                
                        <i class="fa-solid fa-list fa-lg "></i>
              
        </span>
</a>
<a routerLink="/calculator">
        <span class="px-11 top-span">
                
                        <i class="fa-solid fa-calculator fa-lg "></i>
             
        </span>
</a>
<a routerLink="/login">
        <span class="px-11 top-span">
                
                        <i class="fa-solid fa-calculator fa-lg "></i>
             
        </span>
</a>
<a routerLink="/signup">
        <span class="px-11 top-span">
                
                        <i class="fa-solid fa-calculator fa-lg "></i>
             
        </span>
</a>

    </div>  
    <div class="flex-1 flex flex-col justify-end border-t border-[#255232] grow-0 mb-6 pt-6">

            <span class="bot-span">
                <i class="fa-solid fa-gear fa-lg "></i>
            </span>
            <span class="bot-span">
                <i class="fa-solid fa-arrow-right-from-bracket fa-lg "></i>
            </span>
    </div>
</div>