
<div class="h-screen  flex flex-col w-28 border-r border-[#255232] text-white vertical-container-navbar fixed top-0">
        <div class="mt-2">
                <a routerLink="/">
                <span><img class="transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300" src="../assets/logo.png" alt="logo.png"></span>
                </a>
        </div>
        <div class="flex-1 flex flex-col space-y-12 mt-10">
        <span>
                <a routerLink="/">
                        <i class="fa-solid fa-house fa-lg transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300"></i>
                </a>
        </span>
        <span>
                <a routerLink="/profile">
                        <i class="fa-solid fa-user fa-lg transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300"></i>
                </a>
        </span>
        <span>
                <a routerLink="/virtualforest">
                        <i class="fa-solid fa-tree fa-lg transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300"></i>
                </a>
        </span>
        <span>
                <a routerLink="/blog">
                        <i class="fa-solid fa-message fa-lg transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300"></i>
                </a>
        </span>
        <span>
                <a routerLink="/todolist">
                        <i class="fa-solid fa-list fa-lg transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300"></i>
                </a>
        </span>
        <span>
                <a routerLink="/calculator">
                        <i class="fa-solid fa-calculator fa-lg transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300"></i>
                </a>
        </span>

    </div>  
    <div class="flex-1 flex flex-col justify-end border-t border-[#255232] grow-0 mb-12 space-y-12 pt-12">

            <span>
                <i class="fa-solid fa-gear fa-lg transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300"></i>
            </span>
            <span>
                <i class="fa-solid fa-arrow-right-from-bracket fa-lg transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300"></i>
            </span>
    </div>
</div>