<div class="navbar">
    <div class="navbar-links">
      <div class="navbar-links_logo">
        <a routerLink="/">
        <img class="navbar-links_logo" src="../assets/logo.svg" alt="logo">
        </a>
      </div>
      <div class="navbar-links_container">
        <p><a routerLink="/">Home</a></p>
        <p><a routerLink="/profile">My Profile</a></p>
        <p><a routerLink="/virtualforest">Virtual Forest</a></p>
        <p><a routerLink="/blog">Blog</a></p>
        <p><a routerLink="/calculator">Carbon Footprint Calculator</a></p>
        <p><a routerLink="/todolist">To-do-list</a></p>
      </div>
    </div>
    <div class="navbar-sign">
      <p>Sign in</p>
      <button type="button">Sign up</button>
    </div>
    <div class="navbar-menu">

    </div>
  </div>