<section class="ml-28">
    <div class="h-96 gradient-div">
            <h1 class="text-[#ECE5CB] pt-12 text-4xl">We offer solutions to a greener planet</h1>
            <div>
            <p class="text-[#ECE5CB] font-light text-lg mt-6 ">
                We offer a wide range of solutions to help you reduce your carbon footprint
                <br> 
                Join and interact with an invested community of people 

            </p>
        </div>
            <div class="flex flex-row space-x-12 justify-center mt-16 text-[#ECE5CB]">
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
              </div>
    </div>
 
</section>