<section class="">
    <div class="h-96 gradient-div">
            <h1 class=" pt-12 text-4xl">Greener Solutions for a Better World</h1>
            <div>
            <p class=" font-light text-lg mt-6 ">
                We offer a wide range of sustainable solutions to help you reduce your carbon footprint and make a positive impact on the environment.
                <br> 
                Join our community of like-minded individuals and start making a difference today.

            </p>
        </div>
        <div class="flex flex-row space-x-12 justify-center mt-16 ">
            <app-card icon="nature" title="Virtual Trees" description="Get daily reminders to care for your virtual tree and learn about sustainable practices that help the environment."></app-card>
            <app-card icon="water_drop" title="Carbon Reduction" description="Get advices and tips on reducing your carbon footprint and creating a more sustainable future."></app-card>
            <app-card icon="forum" title="Community" description="Join our community of like-minded individuals and share tips, resources, and ideas for a greener future."></app-card>
          </div>
    </div>
 
</section>