<div class="bg-green-900 h-16 ">

    <ul class="flex flex-row justify-around h-full" >
 
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/signup">Sign up</a></li>
    <li><a routerLink="/profile">My Profile</a></li>
    <li><a routerLink="/virtualforest">Virtual Forest</a></li>
    <li><a routerLink="/blog">Blog</a></li>
    <li><a routerLink="/calculator">Carbon Footprint Calculator</a></li>
    <li><a routerLink="/todolist">To-do-list</a></li>
</ul>

</div>