.get-started_link{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.get-started_link:hover{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.second-button_link {
    border-color:var(--color-secondary) ;
    color: var(--color-secondary);
}
.second-button_link:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-color: var(--color-secondary);
}

.second-button_link {
    border-color:var(--color-secondary) ;
    color: var(--color-secondary);
}

h1 {
    font-family: var(--font-family-big);
}

img{
    height: 38rem;
}