<main class="p-3 h-full inline-flex">
    <div class="ml-4 flex-shrink-0 flex flex-col w-80 bg-primary-25 rounded-md">
       <h3 class="flex-shrink-0 pt-3 pb-1 px-3 text-xl font-medium text-secondary-100">To Do</h3>
       <div class="flex-1 min-h-0 overflow-y-auto">
          <ul class="pt-1 pb-3 px-3">
             <li class="mt-3" *ngFor="let task of tasks">
                <a *ngIf="!task.isDone && !task.isReview" (click)="openModalDetailTask(task._id, task.description)" class="block p-5 bg-white rounded-md shadow hover:bg-opacity-80 transition-all duration-2 cursor-pointer">
                   <div class="flex justify-between">
                      <p class="text-sm font-medium leading-snug text-gray-900">{{task.description}}</p>
                   </div>
                   <div class="flex justify-between mt-5">
                      <div class="text-sm text-gray-600"><time datetime="2020-10-12">{{task.creationDate | date:"short"}}</time></div>
                      <div>
                        <span class="inline-flex items-center leading-tight bg-teal-100 px-2 py-1 rounded-full">
                           <svg viewBox="0 0 8 8" fill="blue" class="h-2 w-2">
                              <circle cx="4" cy="4" r="3"></circle>
                           </svg>
                           <span class="text-sm font-medium text-blue-500 rounded-full ml-1">{{task.difficulty}}</span>
                        </span>
                      </div>
                   </div>
                </a>
                
             </li>
             <button (click)="openModalAddTask()"  class="bg-primary-50 hover:bg-opacity-80 text-secondary-100 w-full rounded-lg h-8" type="button">
                Add tasks
              </button>
              <!-- <button (click)="openModalFeed()"  class="bg-primary-50 hover:bg-opacity-80 text-secondary-100 w-full rounded-lg h-8" type="button">
               Post tasks
             </button> -->
              <!-- <button (click)="openModalSuggestTask()"  class="bg-primary-50 hover:bg-opacity-80 text-secondary-100 w-full rounded-lg h-8" type="button">
               Suggest tasks
             </button> -->


          </ul>
       </div>
    </div>
    <!-- Main modal -->

    <div class="ml-4 flex-shrink-0 flex flex-col w-80 bg-primary-25 rounded-md">
       <h3 class="flex-shrink-0 pt-3 pb-1 px-3 text-xl font-medium text-secondary-100">Pending Review</h3>
       <div class="flex-1 min-h-0 overflow-y-auto">
          <ul class="pt-1 pb-3 px-3">
            <li class="mt-3" *ngFor="let task of tasks">
                  <a *ngIf="task.isReview" (click)="openModalPendingTask(task._id, task.description)" class="block p-5 bg-white rounded-md shadow hover:bg-opacity-80 transition-all duration-2 cursor-pointer">
                     <div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900">{{task.description}}</p>
                     </div>
                     <div class="flex justify-between mt-5">
                        <div class="text-sm text-gray-600"><time datetime="2020-10-12">{{task.creationDate | date:"short"}}</time></div>
                        <div>
                          
                           <span class="inline-flex items-center leading-tight bg-teal-100 px-2 py-1 rounded-full">
                              <svg viewBox="0 0 8 8" fill="blue" class="h-2 w-2">
                                 <circle cx="4" cy="4" r="3"></circle>
                              </svg>
                              <span class="text-sm font-medium text-blue-500 rounded-full ml-1">{{task.difficulty}}</span>
                           </span>


                        </div>
                     </div>
                  </a>

            </li>
             
          </ul>
       </div>
    </div>
    <div class="ml-4 flex-shrink-0 flex flex-col w-80 bg-primary-25 rounded-md">
       <h3 class="flex-shrink-0 pt-3 pb-1 px-3 text-xl font-medium text-secondary-100">Finalized</h3>
       <div class="flex-1 min-h-0 overflow-y-auto">
          <ul class="pt-1 pb-3 px-3">
            <li class="mt-3" *ngFor="let task of tasks">
               <a   (click)="openModalPendingTask(task._id, task.description)" *ngIf="task.isDone" class="block p-5 bg-white rounded-md shadow hover:bg-opacity-80 transition-all duration-2 cursor-pointer">
                 <div class="flex justify-between">
                   <p class="text-sm font-medium leading-snug text-gray-900">{{task.description}}</p>
                   
                 </div>
                 <div class="flex justify-between mt-5">
                  <div class="text-sm text-gray-600"><time datetime="2020-10-12">{{task.creationDate | date:"short"}}</time></div>
                  <div>
                     <span class="inline-flex items-center leading-tight bg-teal-100 px-2 py-1 rounded-full">
                        <svg viewBox="0 0 8 8" fill="blue" class="h-2 w-2">
                           <circle cx="4" cy="4" r="3"></circle>
                        </svg>
                        <span class="text-sm font-medium text-blue-500 rounded-full ml-1">{{task.difficulty}}</span>
                     </span>
                     <span [ngClass]="{'inline-flex items-center leading-tight bg-teal-100 px-2 py-1 rounded-full': true, 'bg-green-100 text-green-500': task.isAccepted, 'bg-red-100 text-red-500': !task.isAccepted}">
                        <svg [ngStyle]="{'fill': task.isAccepted ? 'currentColor' : 'currentColor'}" class="h-2 w-2">
                           <circle cx="4" cy="4" r="3"></circle>
                         </svg>
                       <span class="text-sm font-medium rounded-full ml-1">
                         {{ task.isAccepted ? 'Accepted' : 'Refused' }}
                       </span>
                     </span>
                   </div>
                 </div>
               </a>
             </li>
             <!-- <li class="mt-3">
                <a class="block p-5 bg-white rounded-md shadow hover:bg-opacity-80 transition-all duration-2 cursor-pointer">
                   <div class="flex justify-between">
                      <p class="text-sm font-medium leading-snug text-gray-900">Add discount code to checkout page.</p>
                      <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144&amp;q=80" alt="avatar" class="h-5 w-5 rounded-full">
                   </div>
                   <div class="flex justify-between mt-5">
                      <div class="text-sm text-gray-600"><time datetime="2020-10-12">Sep 15</time></div>
                      <div>
                         <span class="inline-flex items-center leading-tight bg-purple-100 px-2 py-1 rounded-full">
                            <svg viewBox="0 0 8 8" fill="#040404" class="h-2 w-2">
                               <circle cx="4" cy="4" r="3"></circle>
                            </svg>
                            <span class="text-sm font-medium text-purple-500 rounded-full ml-1">Design</span>
                         </span>
                      </div>
                   </div>
                </a>
             </li> -->
             
          </ul>
       </div>
    </div>
    <ng-container *ngIf="isAdmin()">
    <div  class="ml-4 flex-shrink-0 flex flex-col w-80 bg-primary-500 rounded-md">
         <h3  class="flex-shrink-0 pt-3 pb-1 px-3 text-xl font-medium text-secondary-100">To review</h3>
         <div class="flex-1 min-h-0 overflow-y-auto">
            <ul class="pt-1 pb-3 px-3">
            <li class="mt-3" *ngFor="let task of toReviewTasks">
               <a (click)="openModalPendingTask(task._id, task.description)" class="block p-5 bg-white rounded-md shadow cursor-pointer">
                  <div class="flex justify-between">
                     <p class="text-sm font-medium leading-snug text-gray-900">{{task.description}}</p>
                     
                  </div>
                  <div class="flex justify-between mt-5">
                  <div class="text-sm text-gray-600"><time datetime="2020-10-12">{{task.creationDate | date:"short"}}</time></div>
                  <div>
                     <span class="inline-flex items-center leading-tight bg-teal-100 px-2 py-1 rounded-full">
                        <svg viewBox="0 0 8 8" fill="blue" class="h-2 w-2">
                           <circle cx="4" cy="4" r="3"></circle>
                        </svg>
                        <span class="text-sm font-medium text-blue-500 rounded-full ml-1">{{task.difficulty}}</span>
                     </span>
      

                     </div>
                  </div>
                  <div class="mt-4 flex space-x-3">
                     <button (click)="acceptTask(task._id, $event)" class="bg-primary-50 hover:bg-opacity-80 text-secondary-100 w-1/2 rounded-lg h-8">Accept</button>
                     <button (click)="refuseTask(task._id, $event)" class="bg-primary-50 hover:bg-opacity-80 text-secondary-100 w-1/2 rounded-lg h-8">Decline</button>
                  </div>
               </a>

               </li>
               <button (click)="openModalSuggestTask()"  class="bg-primary-50 hover:bg-opacity-80 text-secondary-100 w-full rounded-lg h-8" type="button">
                  Suggest Task
                </button>
            </ul>
         </div>
   </div>
</ng-container>
 </main>


 

 <app-add-task [modalOpen]="modalOpenAddTask" (closeModal)="closeModalAddTask()" [verifiedTasks]="verifiedTasks"></app-add-task>

<app-share-task [modalOpen]="modalOpenFeed" (closeModal)="closeModalFeed()"></app-share-task>
<app-suggest-task [modalOpen]="modalOpenSuggestTask" (closeModal)="closeModalSuggestTask()"></app-suggest-task>

<app-detail-task [modalOpen]="modalOpenDetailTask" (closeModal)="closeModalDetailTask()" [description]="description" [id]="id" ></app-detail-task>

<app-pending-task [modalOpen]="modalOpenPendingTask" (closeModal)="closeModalPendingTask()" [description]="description" [id]="id" [post]="post" ></app-pending-task>
<app-suggest-task [modalOpen]="modalOpenSuggestTask" (closeModal)="closeModalSuggestTask()"></app-suggest-task>   